<div class="main">
    <div class="container-fluid">

        <header>
            <h1>Activity</h1>

        </header>

        <body>
            <button type = "button" onclick = "window.location.href='/addActivity'" class ="btn btn-default">AddActivity</button>
             <button type = "button" onclick = "window.location.href='/viewActivity'" class ="btn btn-default">ViewActivity</button>
             <button type = "button" onclick = "window.location.href='/deleteActivity'" class ="btn btn-default">DeleteActivity</button>
             <button type = "button" onclick = "window.location.href='/updateActivity'" class ="btn btn-default">UpdateActivity</button>
        </body>
    </div>
</div>