<div class="main">
    <div class="container-fluid">

        <header>
            <h1>Add Activity</h1>

        </header>

        <body>
            <form id="add-activity" method="POST">
                <p>{{message}}</p>
                <label for="activity">Activity Name</label><br>
                <select id="activity" name="activity">
                    <option value="" <option value="" selected disabled hidden></option>
                    </option>
                    <option name="activity" value=Leg curl>Leg curl</option>
                    <option name="activity" value=Bench press>Bench press</option>
                    <option name="activity" value=Crunch>Crunch</option>
                </select>
                <label for="activitytrainer">Activity Trainer</label><br>
                <select id="activitytrainer" name="activitytrainer">
                    <option value="" <option value="" selected disabled hidden></option>
                    </option>
                    <option name="activitytrainer" value=Chunli>Chunli</option>
                    <option name="activitytrainer" value=Mengyuan>Mengyuan</option>
                    <option name="activitytrainer" value=Amit>Amit</option>
                    <option name="activitytrainer" value=Rozy>Rozy</option>
                </select>
                 <label for="membershipplan">Membership Plan</label><br>
                <select id="membershipplan" name="membershipplan">
                    <option value="" <option value="" selected disabled hidden></option>
                    </option>
                    <option name="membershipplan" value=Plan1>Plan1</option>
                    <option name="membershipplan" value=Plan2>Plan2</option>
                    <option name="membershipplan" value=Plan3>Plan3</option>
                    <option name="membershipplan" value=Plan4>Plan4</option>
                </select>
                  <label for="membershipplan">Activity Members</label><br>
                 <select id="activitymember" name="activitymember">
                    <option value="" <option value="" selected disabled hidden></option>
                    </option>
                    <option name="activitymember" value=Mike>Mike</option>
                    <option name="activitymember" value=Matt>Matt</option>
                    <option name="activitymember" value=Lucy>Lucy</option>
                    <option name="activitymember" value=Alex>Alex</option>
                </select>
                <br />
                <button type="submit">addActivity</button>
                <a href="/dashboard">Go back</a>
            
                 </form>
        </body>
    </div>
</div>