<div class="content">
   <div class="container-fluid">
      <div class="jumbotron" id="head-doc">
         <header>
            <h1>New Members</h1>
         </header>
         <form id="createMember-form" action="/gymMember/add" method="POST">
          {{#if alertMsg}}
            <p class="alertMsg">{{alertMsg}}</p>
            {{/if }}
              <div class="col-sm-1">
                 <label for="membername">Select Member</label></div>
                        <div class="col-sm-10">
                           <select id="membername" name="membername">
                                {{#each membernames}}
                                <option name="membername" value= {{this.username}}>{{this.username}}</option>
                                {{/each}}
                            </select>
            <div id="inputDiv">
               <label for="memberheight"> Height(metres)</label><br>
               <input class="major" type="text" name="memberheight" />
            </div>
            <div id="inputDiv">
               <label for="memberweight"> Weight(kg)</label><br>
               <input class="major" type="text" name="memberweight" />
            </div>
            <input type="hidden" value={{userId}} name="userId">
            <div class="centered">
               <div class="row">
                  <div class="col-sm-6"><input type="submit"  onclick="window.location.href='/gymMember'" id="submit" value="Assign Stats"></div>
                  <div class="col-sm-6"> <input type="button" onclick="window.location.href='/gymMember'" id="cancel" value="Cancel"></div>
               </div>
            </div>
         </form>
      </div>
   </div>
</div>