
<div class="main">
    <div class="container-fluid">

<header>
    <h1>Workout Activity</h1>
    
</header>

<body>
    <p class = "workoutActivity">select the user and then click on addworkoutActivity</p>
      
        <a class = "workoutActivity" name = "add" href="/addWorkoutActivity">AddWorkoutActiviy</a>
        <a class = "workoutActivity" name = "delete" href="/deleteWorkoutActivity">DeleteWorkoutActiviy</a>
        <a class = "workoutActivity" name = "update" href="/updateWorkoutActivity">UpdateWorkoutActiviy</a>
        <a class = "workoutActivity" name = "view" href="/viewWorkoutActivity">ViewWorkoutActiviy</a>
   
         
</body>
    </div>
</div>