<div class="main">
    <div class="container-fluid">

        <header>
            <h1>Workout Activity</h1>

        </header>

        <body>

            <button type="button" onclick="window.location.href='/addWorkoutActivity'" class="btn btn-default"> AddWorkout </button>
            <button type="button" onclick="window.location.href='/viewWorkoutActivity'" class="btn btn-default"> ViewWorkout </button>
           



                </body>
    </div>
</div>