* {
    box-sizing: border-box;
  }
  
  html,
  body {
    font-size: 14pt;
    background: #dedede;
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  }
  
  main {
    max-width: 75%;
    margin: auto;
  }
  
  header {
    border-bottom: 1px solid #afafaf;
    padding: 0%;
    bottom: 10pt;

  }
  
  h1 {
    font-size: 2rem;
    color: #ff0000; 
    margin-left: 100pt;
  }

  p {
    font-size: 1rem;
    line-height: 2;
    font-family: Georgia, Cambria, "Times New Roman", Times, serif;
  }
  label {
    align-self: center;
    margin-top: 20px; 
    font-weight: bold;
    margin-left: 200pt;
  }
  input{
    bottom: 10 pt;
    margin-top: 20px; 
    align-self: center;
    background-color: white;
    margin-left: 10pt;
    
  }
  
  button { 
      margin: 0 
      auto; 
      display: inline-block;
       width: 30%; 
       border-radius: 10px; 
       border: none; 
       padding: 10px 20px; 
       color: aliceblue; 
       background-color: #d6a844;
       box-align: center;
       margin-top: 70px;
       align-self: center;
       margin-left: 250pt;
    }

    form{
        align-content: center;
        align-self: center;

        width: 630pt;
        height: 350pt;
        margin-top: 50px;
        
        
    }


  .list{
      margin-left: 300pt;
      border: solid;
      width:100pt;
      border: grey;
  }
  .error{
      color: brown;
      margin-left: 400px;
      margin-top: 10px;
  }